{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "env": {
      "browser": true,
      "es6": true
  },
  "rules": {
      "no-console": 0
  },
  "parserOptions": {
      "sourceType": "module"
  }
}
