html, body {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 13px;
}

.header {
    display: flex;
    height: 35px;
}

.header .urlInput {
    flex: 1;
}

.header .loadBtn {
    width: 100px;
}

.main {
    display: flex;
    flex: 1;
}

.main .binary {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #ddd;
}

.main .binary .binaryHeader {
    display: flex;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background: #f3f3f3;
    overflow-y: scroll;
}

.main .binary .binaryBottom {
    height: 25px;
    line-height: 25px;
    background: #f3f3f3;
    padding: 0 15px;
    box-sizing: border-box;
}

.main .binary .binaryBottom .item {
    display: inline-block;
    margin-right: 15px;
}

.main .binary .binaryHeader span {
    flex: 1;
}

.main .binary .binaryBody {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}

.main .binary .binaryBody span {
    float: left;
    width: 6.25%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.main .binary .binaryBody span:hover {
    background: #97beff;
}

.main .info {
    flex: 1;
    overflow-y: auto;
}