html, body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    width: 800px;
    margin: 0 auto;
    font-size: 14px;
    flex-direction: column;
    color: #97a8be;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.controller {
    display: flex;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.controller .controller-left {
    flex: 1;
    height: 60px;
}

.controller .controller-left .urlInput {
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.controller .controller-right {
    width: 75px;
    text-align: center;
}

.video-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.video-wrap video {
    opacity: 0.1;
    width: 100%;
}

.console {
    position: relative;
    flex: 1;
}